.title {
  font-size: 3em;
  text-align: center;
  color: mediumslateblue;
}

.dexLayout {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  grid-gap: 1em;
}

.dexCard {
  display: flex;
  flex-direction: column;
  border: darkblue 1px solid;
  background: linear-gradient(#13547a, #80d0c7);
}

.dexNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  padding: 0;
  margin: 0.5em 0 0 0.5em;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);}

.dexName {
  padding: 0;
  margin: 0.3em 0 0 0;
  text-align: center;
  font-size: 2em;
}

.dexItem {
  max-height: 250px;
}

.sampleButton {
  height: 40px;
  width: 40px;
  background: mediumslateblue;
}
