.dexLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

@media screen and (min-width: 600px) {
  .dexLayout {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .dexLayout {
    grid-template-columns: repeat(6, 1fr);
  }
}

.dexItem {
  max-height: 250px;
}
