.layout {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: black;
}

.returnToDex, 
.returnToDex :hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: mediumslateblue;
    color: whitesmoke;
    font-size: 2em;
    padding: 0.25em 0 0 0;
    cursor: pointer;
    background-color: black;
}

.card {
    width: clamp(45ch, 50%, 60ch);
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(#13547a, #80d0c7); */
    background: whitesmoke;
    padding: 1rem;
    border: 1em #e0002b solid;
    margin: 1em;
  }

.card p {
    padding: 0;
    margin: 0;
}
  
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100px; */
    width: 100%;
    /* background: wheat; */
    margin: 0.5rem 0;
  }

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
    font-size: 2em;
    padding: 0 0 0.5em 0;
    margin: 0;
}

.cardItem {
    padding: 0;
    margin: 0;
}

.type {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0.25em 0 0.25em;
    padding: 0 0.25em 0 0.25em;
    color: white;
}

.dexNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    padding: 0;
    margin: -0.5em 0 0 -0.5em;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #e0002b;
    /* background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);} */
}