.layout {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.returnToDex, 
.returnToDex :hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: mediumslateblue;
    font-size: 2em;
    padding: 0.25em 0 0 0;
    cursor: pointer;

}

.card {
    width: clamp(45ch, 50%, 60ch);
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(#13547a, #80d0c7); */
    background: whitesmoke;
    padding: 1rem;
    border: 1em yellowgreen solid;
  }
  
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100px; */
    width: 100%;
    /* background: wheat; */
    margin: 0.5rem 0;
  }

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
    font-size: 2em;
    padding: 0 0 0.5em 0;
    margin: 0;
}

.cardItem {
    padding: 0;
    margin: 0;
}

.type {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0.25em 0 0.25em;
    padding: 0 0.25em 0 0.25em;
    color: white;
}
